<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ma.my.grant">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:requestLegacyExternalStorage="true"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".activities.SplashScreen"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".activities.LogIn"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".activities.Register"
                android:screenOrientation="portrait"/>


        <activity
                android:name=".activities.ForgetPassword"
                android:screenOrientation="portrait"/>


        <activity
                android:name=".activities.FillingInformation"
                android:screenOrientation="portrait"/>


        <activity
                android:name=".activities.GenerateReceipt"
                android:screenOrientation="portrait"/>


        <activity
                android:name=".activities.ManageEstablishments"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".activities.AdminDashboard"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".activities.StudentDashboard"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".activities.ManageUniversities"
                android:screenOrientation="portrait"/>


        <activity
                android:name=".activities.StudentsList"
                android:screenOrientation="portrait"/>


        <activity
                android:name=".activities.GenerateLists"
                android:screenOrientation="portrait"/>


        <activity
                android:name=".activities.StudentProfile"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".activities.ViewStudents"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".activities.ViewLists"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".activities.SubmitComplaint"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".activities.SingleStudentView"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".activities.ManageStudentBrothers"
                android:screenOrientation="portrait"/>


    </application>

</manifest>
